@import '../../styles/colors';

.review-card {
    border: 1px solid #DEDEDE;
    border-radius: 5px;
    padding: 1.875rem;
    .rating {
        display: flex;
        margin-bottom: 1rem;
    }
    .review-text {
        margin-bottom: 1rem;

    }
    .review-provider {
        display: flex;
        align-items: center;
        gap: 14px;
        .avatar {
            width: 50px;
            height: 50px;
            border: 1px solid #BDBDBD;
            border-radius: 100%;
            overflow: hidden;
        }
        &-info {
        }
        &-name {
            font-weight: 600;
            color: $primaryColor;
        }
        &-role {
            font-size: .875rem;
            font-weight: 500;
            color: #252B42;
        }
    }
}