@import '../../styles/colors';

.button {
    font-weight: 700;
    background: none;
    border: none;
    border-radius: .25rem;
    &-small {
        padding: .625rem 1.5625rem;
    }
    &-large {

    }
    &-outlined {
        border: 1px solid $borderColor;
    }
    &-filled {
        background: $primaryColor;
        color: $white;
        border: 1px solid $primaryColor;
    }
}