.customers {
  padding: 3.125rem 0;
  @media screen and (min-width: 768px) {
    padding: 3.125rem 0;
  }
  @media screen and (min-width: 992px) {
    padding: 4.6875rem 0;
  }
  &-content {
    .client-list {
      max-width: 800px;
      display: grid;
      align-items: center;
      grid-template-columns: repeat(2, 1fr);
      gap: 3.125rem;
      margin: 0 auto;
      @media screen and (min-width: 768px) {
        grid-template-columns: repeat(4, 1fr);
      }
    }
  }
}
