@import 'src/styles/_colors';

.blog-card {
  border-radius: 8px;
  overflow: hidden;
  &.dark {
    background: $white;
    color: $typographyColor;
  }
  .thumbnail {
    object-fit: cover;
  }
  &-content {
    padding: 1.5rem;
    border-left: 1px solid #dedede;
    border-right: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-collapse: collapse;
    & > div {
      & * {
        display: inline;
      }
    }
  }
}
